

.btn-group-vertical{
    border: 2px solid black;
}
=======

=======
=======


/* */

.navbar {

    font-family: 'Staatliches';
    font-size: 50px;
    background-color: #FF6900 ;
}
.triangle-right {
	border-top: 14px solid transparent;
	border-left: 26px solid #555;
	border-bottom: 14px solid transparent;
   
    
}

.container {
    background-color:white;
}

.col-4{

   color:white;
   font-size: 15px;
   
}


.list-group-item{
    background-color:#BCEDFF  ;
    color:#FF6900  ;

}
.btn-group-vertical{
    border: 2px solid black;
=======

}

.col-6{
background-color:white ;
}
.list-group-item-6{
    background-color: white;
    margin-bottom: 25px;
    color:#FF6900;
}
/* color navbar and navbar-brand */
/* change search button color */
/* in USER HISTORY container add themed color */
/* change the color when the selector glides over a choice */

/* in COL.6 change labels/colors to boxes */
=======
/* in COL.6 change labels/colors to boxes */

